<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>UCMHackathon</title>
  <link rel="icon" type="image/x-icon" href="/Images/Stock.png">
  <link rel="stylesheet" href="styles.css" />
</head>

<body>
  <!-- Navbar Section -->
  <nav class="navbar">
    <div class="navbar__container">
      <a href="/" id="navbar__logo"><i class="fas fa-gem"></i>2023 HACKATHON</a>
      </div>
  </nav>

  <!-- Hero Section -->
  <div class="main">
    <div class="main__container">
      <div class="main__content">
        <h1>Stock Market</h1>
        <h2>Analysis</h2>
        <p>By: David Hernandez, Fernando Rodriguez M., Elyas Yaqubi, Guillermo R</p>
        <button class="main__btn"><a href="#tp">Start Searching!</a></button>
      </div>
      <!--<div class="main__img--container">
        <img id="main__img" src="images/pic1.svg" />
      </div> -->
    </div>
  </div>

  <!-- Services Section -->
  <div class="services" id="tp">
    <h2>Purpose: <br>To provide entry-level stock market investors with a central hub that offers two key features: stock information and stock recommendations, helping them make informed investment decisions.</h2>
    <div class="services__container">
      <div class="services__card">
        <form id="search-form" action="" method="POST">
          <label for="companyName">Type your company name</label>
          <input type="text" class="searchBar" name="companyName" placeholder="input stock ticker symbol" id="" required>
          <button type="submit" value = "Add">Search Me</button>
        </form>
        <div>
          <h2>Search The Market!</h2>
        </div>
      </div>
      <!--<div class="services__card">
        <h2>Top Recommended Stocks</h2>
        <p>Take The Red Pill</p>
        <button>Search</button>
      </div>-->
    </div>
   
    <form id="search-form">
      <input type="text" class="searchBar" name="companyName" id="searchBar1" placeholder="Input Stock Ticker Symbol:">
      <button type="button" id="searchButton">Click me to search!</button>
    </form>
  </div>

  <!-- Footer Section -->
  <div class="footer__container">
    <div class="footer__links">
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>About Us</h2>
          <a href="/sign__up">How it works</a> <a href="/">Testimonials</a>
          <a href="/">Careers</a> <a href="/">Investments</a>
          <a href="/">Terms of Service</a>
        </div>
        <div class="footer__link--items">
          <h2>Contact Us</h2>
          <a href="/">Contact</a> <a href="/">Support</a>
          <a href="/">Destinations</a> <a href="/">Sponsorships</a>
        </div>
      </div>
      <div class="footer__link--wrapper">
        <div class="footer__link--items">
          <h2>Videos</h2>
          <a href="/">Submit Video</a> <a href="/">Ambassadors</a>
          <a href="/">Agency</a> <a href="/">Influencer</a>
        </div>
        <div class="footer__link--items">
          <h2>Social Media</h2>
          <a href="/">Instagram</a> <a href="/">Facebook</a>
          <a href="/">Youtube</a> <a href="/">Twitter</a>
        </div>
      </div>
    </div>
    <section class="social__media">
      <div class="social__media--wrap">
        <div class="footer__logo">
          <a href="/" id="footer__logo"><i class="fas fa-gem"></i>UCM Hackathon</a>
        </div>
        <p class="website__rights">© UCMHackathon 2023. All rights reserved</p>
        <div class="social__icons">
          <a class="social__icon--link" href="/" target="_blank" aria-label="Facebook">
            <i class="fab fa-facebook fab"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="Instagram">
            <i class="fab fa-instagram insta"></i>
          </a>
          <a class="social__icon--link" href=""
            target="_blank" aria-label="Youtube">
            <i class="fab fa-youtube youtube"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="Twitter">
            <i class="fab fa-twitter twitter"></i>
          </a>
          <a class="social__icon--link" href="/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin linkedin"></i>
          </a>
        </div>
      </div>
    </section>
  </div>
  <script src="app.js"></script>
</body>

</html>